*~
*.pyc
__pycache__
plots/*.pdf
plots/*.txt
BinningSchemes/log/
BinningSchemes/slurm_scripts/

*.root

slurm_scripts/

plots/toyrootfiles
toyrootfiles
plots/sigbkg_5x5bscheme_ffall/
plots/sigbkg_5x5bscheme_ffall_largeyld/
plots/sigbkg_5x5bscheme_ffsubset/
plots/*/

Eff/eff_pickled
Eff/eff_rootfiles
ResponseMatrix/responsematrix_pickled
model_dependency/model_dependency_rootfiles
model_dependency/log
Eff/log
ResponseMatrix/lotg
model_dependency/plot_modeldependency
ResponseMatrix/log
Eff/eff_pickled_conservative
ResponseMatrix/responsematrix_pickled_conservative
model_dependency/model_dependency_rootfiles_conservative
